doctype
//[if lt IE 7]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>         <html class="no-js lt-ie9"> <![endif]
//[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  meta(name='description', content='Kpop Candy - Listen and discover K-pop for FREE')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Kpop Candy - Listen and discover K-pop for FREE
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel='stylesheet', type='text/css')
  link(href='./css/bootstrap.css', rel='stylesheet')
  //- link(href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', type='text/css', rel='stylesheet')
  link(href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
  link(href='./css/style.css', rel='stylesheet', type='text/css')
  //if lt IE 8
    link(href='./css/bootstrap-ie7.css', rel='stylesheet')
  script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
  //if lt IE 9
    script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49733668-2', 'kpopcandy.com');
    ga('send', 'pageview');
body
  header
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src='img/kpopcandy_logo_lukemod.png', id='logo-img')
        .collapse.navbar-collapse.bs-navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.contact(href='mailto:hello@kpopcandy.com?Subject=Contacting%20from%KpopCandy.com') Contact
  .container
    .text-center
      h1 A Sweet New App for K-pop Fans
  .container.main-content
    .row
      //- MOBILE FIRST
      .col-md-6.text-center.visible-xs
        img.img-responsive(src="img/s4.png", alt="android phone")
      //- BIGGER SCREENS
      .col-md-6.text-center.visible-md
        img(src="img/s4.png", alt="android app")     
      //- BIGGEST SCREEN
      .col-md-6.text-center.visible-lg#rotating-item-wrapper
        img(src="img/s4.png", alt="android app")
        //- img.rotating-item(src="img/rotate1.jpg", alt="android app")
        img.rotating-item(src="img/rotate2.jpg", alt="android app")
        img.rotating-item(src="img/rotate3.jpg", alt="android app")
        img.rotating-item(src="img/rotate4.jpg", alt="android app")
        img.rotating-item(src="img/rotate5.jpg", alt="android app")
        img.rotating-item(src="img/rotate6.jpg", alt="android app")
      //- ALL SCREENS
      .col-md-6
        .description-block
          h2 LISTEN FOR FREE
          p.feature-description Enjoy the streaming K-pop tracks for free and build your own collection by adding your favorite songs to the playlist.
        .description-block
          h2 DISCOVER TRACKS
          p.feature-description Tap any song and we show your a list of related songs OR search our huge library by artist or song title.
        .description-block
          h2 SEE THE LYRICS
          p.feature-description Understand the song by reading the lyrics in 3 different ways: Korean, alphabetic pronunciation, and English translation.
        .app-web-links
          a(href="https://play.google.com/store/apps/details?id=com.kpopcandy", target="_blank")
            img.google-play-button(src="img/google_play.png", alt="android phone")
          img.web-app-button(src="img/website.png", alt="web app")
  .footer.text-center
    p © Copyright 2014 Kpop Candy created by Recomio, Inc.
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(type='text/javascript', src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
  script(src='js/vendor/infinite-rotator.js', type='text/javascript')
